md-toolbar.md-hue-3
  .md-toolbar-tools {{ $ctrl.division.name }}
md-list(flex)
  md-list-item.md-2-line(
    ng-repeat='team in $ctrl.division.teams'
    ui-sref='team({teamId: team.id})'
  )
    .md-list-item-text
      h3 {{ team.numericName }}
      p(ng-show='team.name') {{ team.name }}
//- div(layout='', layout-wrap='', layout-padding='', layout-margin='', layout-align='center')
  team-card(
    ng-repeat='team in division.teams'
    team='team'
  )
