body {
  background-color: lightgrey;
}

body {
  height : 1200px;
  width : 100%;
  background-color: #dedede; 
  padding: 2px;
}

section {
  margin : 2px !important;
  padding: 2px !important;
  padding-left : 1px !important;
  padding-right: 1px !important;
}
section > div {
  min-height : 100px;
  background-color : #c14543;
  margin : 2px !important;
}

